/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
  /* overflow-x: hidden; */
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  overflow-x: hidden;
}
img{
  width: 100%;
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #b84f86; */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(184,79,134,0.8744091386554622) 100%);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  right: -30%;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--white-color);
    padding: 0;
  }
}
footer a{
  text-decoration: none !important;
  color: #b84f86;
  font-weight: 700;
}

footer p{
background-color: #b84f86;
padding: 20px;
color: #fff;
}
footer p a{
  color: #000;
}
.nav__link {
  /* color: var(--white-color); */
  color: #000;
  /* background-color: #b84f86; */
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none !important;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: #b84f86;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  text-decoration: none;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
    width: 300px;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 57px;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}
@media screen and (min-width:1400px) {
  
  .pd-tp{
    padding-top: 80px !important;
  }
}
svg{
  width: 100%;
}

.part_sec{
  padding: 90px 0;

}
.part_sec_each svg{
  width: 20%;
   fill: #b84f86;
}
.part_sec_each{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  min-height: 315px;
  margin-bottom: 10px;
}
.part_sec_each a{
  text-decoration: none;
}
.part_sec_each h2{
  color: #b84f86;
  margin: 20px 0;
}
.part_sec_each p{
  color: #000;
}
.carousel-caption{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.misn_sec h1{
color: #b84f86;
text-align: center;
}

.misn_sec p{
font-size: 19px;
text-align: center;
margin-bottom: 40px;
  }

  .misn_sec{
    display: flex;
    flex-direction: column;
  }
  .accordion-button:not(.collapsed){
    background-color: #b84f86 !important;
    color: #fff !important;
   
  }
  .accordion-button:focus
{
  z-index: 3;
  border-color: #b84f86 !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem #b84f86 !important;
}
.bg_clr{
  background: #b84f86;
}
.trng_sec h1{
  color: #fff;
  text-align: center;
}
.trng_sec p{
  color: #fff;
  text-align: center;
}
.pnk_clr_sec{
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.pnk_clr_sec h2{
font-size: 25px;
margin: 20px 0;
color: #b84f86;
}
.pnk_clr_sec p{
  color: #000;
text-align: justify;

}
.pnk_clr_sec a{

  padding: 10px;
  background: #b84f86;
  color: #fff;
  font-weight: 600;
  text-align: center;
  display: block;
  border-radius: 19px;
  text-decoration: none;
  border:1px solid #b84f86;
}
.pnk_clr_sec img{
  border-radius: 10px;
  /* width: 316px; */
  height: 200px;
}
.pnk_clr_sec a:hover{
color: #b84f86;
background-color: #fff;
}

footer{
  padding: 60px 0 0 0;
  border-top: 5px solid #b84f86;
}
.gover_each_sec{
  padding: 20px;
  background: #b84f86;
  border-radius: 20px;
  margin-bottom: 20px;
}
.gover_each_sec span{
  color: #fff;
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  display: block;
}
.gover_each_sec img{
  border-radius: 10px;
}
.gover_each_sec div{
  padding: 30px 0;
}
.counsel h4{
  margin: 20px 0 50px;
}
 @media screen and  (min-width: 360px)  {
  .pd-tp{
    padding-top: 10px !important;
  }
  
 }